body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 50svw;
    max-height: 50svh;
}

.hidden {
    display: none;
}